Contributors:
Kaixiang Liu
Jahn Tibayan
Jake Souza

Exploring CSUF Kinesiology dataset and predict total fitness factor score for each student

# 1. Data prepartion

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('Health-Science-Data.csv')
df.head()

,Idnum,Date,Sex,Age,Ht,Wt,RF 2,RF 3,RF 4,RF 5,...,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168,Unnamed: 169,Unnamed: 170
0,M0001,2002-2,M,19,65.0,195.4,5,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,M0002,2002-2,M,19,68.5,201.4,5,2,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,M0003,2002-2,M,21,69.8,133.8,5,2,6,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,M0004,2002-2,M,18,66.0,148.0,5,1,6,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,M0005,2002-2,M,23,67.0,148.7,5,2,6,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6276 entries, 0 to 6275
Columns: 171 entries, Idnum to Unnamed: 170
dtypes: float64(152), int64(16), object(3)
memory usage: 8.2+ MB

,Age,Ht,Wt,RF 2,RF 3,RF 4,RF 5,BIA_percent_Fat,SF 1,SF 2,...,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168,Unnamed: 169,Unnamed: 170
count,6276.000000,6276.000000,6276.000000,6276.000000,6276.000000,6276.000000,6276.000000,1596.000000,4680.000000,4680.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,19.597196,66.210747,147.396303,2.695347,2.442798,1.288400,0.163639,20.046805,16.682874,21.135609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1.496967,3.820155,33.001523,1.976818,0.700195,0.783088,0.604754,7.996257,8.593706,9.838017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,18.000000,55.000000,82.000000,1.000000,1.000000,1.000000,0.000000,4.000000,2.000000,4.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,19.000000,63.000000,123.300000,1.000000,2.000000,1.000000,0.000000,14.100000,10.000000,13.500000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,19.000000,66.000000,142.000000,1.000000,2.000000,1.000000,0.000000,19.900000,16.000000,19.500000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,20.000000,69.000000,166.400000,5.000000,3.000000,1.000000,0.000000,25.600000,21.900000,27.500000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,25.000000,78.000000,329.000000,5.000000,6.000000,6.000000,6.000000,46.400000,50.000000,60.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
missing_values = df.isnull().sum()
print(missing_values[missing_values > 0])

BIA_percent_Fat    4680
SF 1               1596
SF 2               1596
SF 3               1596
Waist              5528
                   ...
Unnamed: 166       6276
Unnamed: 167       6276
Unnamed: 168       6276
Unnamed: 169       6276
Unnamed: 170       6276
Length: 144, dtype: int64

In [5]:
df.columns

Index(['Idnum', 'Date', 'Sex', 'Age', 'Ht', 'Wt', 'RF 2', 'RF 3', 'RF 4',
       'RF 5',
       ...
       'Unnamed: 161', 'Unnamed: 162', 'Unnamed: 163', 'Unnamed: 164',
       'Unnamed: 165', 'Unnamed: 166', 'Unnamed: 167', 'Unnamed: 168',
       'Unnamed: 169', 'Unnamed: 170'],
      dtype='object', length=171)

# First we need to find some variables correlate to FFTotal